<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar" class="bg-dark text-white vh-100 p-3">

    <h4 class="text-center mb-4">
        ASAS
    </h4>

    <div class="list-group">

        <a th:href="@{/admin}"
           class="list-group-item list-group-item-action">
            🏠 Dashboard
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            👨‍🎓 Students
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            👨‍🏫 Teachers
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            📚 Subjects
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            🏫 Classes
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            📝 Results
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            📅 Attendance
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            📄 Reports
        </a>

    </div>

</div>

</body>
</html>